@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-white antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  body {
    @apply bg-white text-black;
  }
  
  button {
    display: none !important;
  }
  
  .print-visible {
    display: block !important;
  }
}

